---
layout: default
---
{% assign system=site.data.systems[page.system] %}
{% assign emulator=site.data.emulators[system.emulator] %}
<h1>
  {{ page.title }}
  {% if page.features.resolution == 1080 %}
    <span class="label label-green">{{ page.features.resolution }}p</span>
  {% else %}
    <span class="label label-yellow">{{ page.features.resolution }}p</span>
  {% endif %}
  {% if page.features.aspect_ratio == "16:9" %}
    <span class="label label-blue">{{ page.features.aspect_ratio }}</span>
  {% else %}
    <span class="label label-yellow">{{ page.features.aspect_ratio }}</span>
  {% endif %}
  {% if page.features.framerate == 60 %}
    <span class="label label-purple">{{ page.features.framerate }} fps</span>
  {% else %}
    <span class="label label-yellow">{{ page.features.framerate }} fps</span>
  {% endif %}
</h1>
<img src="{{ page.box_image }}">
<h2>Additional information</h2>
<dl>
  <dt>System</dt>
  <dd><a href="/systems/{{ system.manufacturer | downcase }}/{{ page.system | escape }}.html">{{ system.title }}</a></dd>
  <dt>Emulator</dt>
  <dd>{{ emulator.title }}</dd>
  <dt>Game details</dt>
  <dd><a href="{{ page.details }}" target="_blank">Link</a></dd>
</dl>
<p class="info-block">
  <span class="title">Notice</span>
  This page lists only <span class="fw-700">game-specific</span> settings. 
  Please ensure that you have configured the initial (global/base) settings as described on the 
  <a href="/systems/{{ system.manufacturer | downcase }}/{{ page.system | escape }}.html">system emulator page</a>.
</p>

{% assign hd_textures = page.hd_textures | strip %}
{% if hd_textures != "" %}
  <h2>HD Textures</h2>
  {% include parameters_block.html parameters=page.hd_textures %}
{% endif %}

{% assign cheats = page.cheats | strip %}
{% if cheats != "" %}
  <h2>Cheats/Hacks</h2>
  {% include parameters_block.html parameters=page.cheats %}
{% endif %}

{% assign controller = page.controller | strip %}
{% if controller != "" %}
  <h2>Per-game Controller Overrides</h2>
  {% include parameters_block.html parameters=page.controller %}
{% endif %}

{% assign config = page.config | strip %}
{% if config != "" %}
  <h2>Per-game Configuration Overrides</h2>
  {% include parameters_block.html parameters=page.config %}
{% endif %}

{% assign ingame = page.ingame | strip %}
{% if ingame != "" %}
  <h2>Ingame Configuration</h2>
  {% include parameters_block.html parameters=page.ingame %}
{% endif %}

{% assign content = page.content | strip %}
{% if content != "" %}
  <h2>Additional notes</h2>
  {{ content | markdownify }}
{% endif %}