---
layout: default
---
{% assign system=site.data.systems[page.code] %}
{% assign base_config=site.data.base_configs[system.emulator] %}

<img src="{{ page.code }}.png" class="d-block mx-auto" />
<dl>
    <dt>Manufacturer</dt>
    <dd>{{ system.manufacturer }}</dd>
    <dt>Years active</dt>
    <dd>{{ system.years.from }} - {{ system.years.to }}</dd>
</dl>
<hr />
{% include emulator.html code=system.emulator %}
<hr />
<h2>Emulator global configuration</h2>
<div class="emulator-parameters">
    {% for config in base_config %}
        <div>
            <h3>{{ config[0] }}</h3>
            <table>
                {% for config1 in config[1] %}
                    {% if config1[0] != "_" %}
                        <tr><th>{{ config1[0] }}</th></tr>
                    {% endif %}
                    <tr>
                        <td>
                            <dl>
                                {% for parameter in config1[1] %}
                                    {% assign name=parameter[0] %}
                                    {% assign value=parameter[1] %}
                                    {% include parameter.html name=name value=value %}
                                {% endfor %}
                            </dl>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endfor %}
</div>