---
layout: default
---
{% assign system=site.data.systems[page.code] %}
{% assign base_config=site.data.base_configs[system.emulator] %}

<img src="{{ page.code }}.png" class="d-block mx-auto" />
<dl>
    <dt>Manufacturer</dt>
    <dd>{{ system.manufacturer }}</dd>
    <dt>Years active</dt>
    <dd>{{ system.years.from }} - {{ system.years.to }}</dd>
</dl>
<hr />
{% include emulator.html code=system.emulator %}
<hr />
<h2>Emulator global configuration</h2>
{% include parameters_block.html parameters=base_config %}