<h2>Emulator global configuration</h2>
<table>
    <tr>
        <th>Interface / Interface</th>
        <td>
            <dl>
                {% include parameter.html name='Fast Boot' value='yes' %}
                {% include parameter.html name='Save State On Exit' value='yes' %}
                {% include parameter.html name='Load Patch Codes' value='yes' %}
                {% include parameter.html name='Apply Game Settings' value='yes' %}
                {% include parameter.html name='Expand To Cutout Area' value='no' %}
                {% include parameter.html name='Emulation Screen Orientation' value='Use Device Setting' %}
                {% include parameter.html name='Display Alignment' value='Automatic' %}
                {% include parameter.html name='Theme' value='Follow System' %}
            </dl>
        </td>
    </tr>
    <tr>
        <th>Interface / On-Screen Display</th>
        <td>
            <dl>
                {% include parameter.html name='Show Messages' value='no' %}
                {% include parameter.html name='Show FPS' value='yes' %}
                {% include parameter.html name='Show Emulation Speed' value='yes' %}
                {% include parameter.html name='Show Resolution' value='yes' %}
                {% include parameter.html name='Show CPU Usage' value='yes' %}
                {% include parameter.html name='Show GPU Usage' value='yes' %}
                {% include parameter.html name='Show Status Indicators' value='no' %}
                {% include parameter.html name='Show Controller Input' value='no' %}
                {% include parameter.html name='Show Enhancements' value='no' %}
                {% include parameter.html name='Show Frame Times' value='no' %}
                {% include parameter.html name='OSD Scale' value='100%' %}
            </dl>
        </td>
    </tr>
    <tr>
        <th>System / Speed Control</th>
        <td>
            <dl>
                {% include parameter.html name='Emulation Speed' value='100%' %}
                {% include parameter.html name='Fast Forward Speed' value='Unlimited' %}
                {% include parameter.html name='Turbo Speed' value='Unlimited' %}
            </dl>
        </td>
    </tr>
    <tr>
        <th>System / Console Settings</th>
        <td>
            <dl>
                {% include parameter.html name='Console Region' value='Auto-Detect' %}
                {% include parameter.html name='CPU Overclocking' value='100%' %}
                {% include parameter.html name='Enable 8MB RAM' value='no' %}
            </dl>
        </td>
    </tr>
    <tr>
        <th>System / CD-Rom Settings</th>
        <td>
            <dl>
                {% include parameter.html name='Preload Image to RAM' value='no' %}
                {% include parameter.html name='Apply Image Patches' value='yes' %}
                {% include parameter.html name='CD-ROM Read Speedup' value='None' %}
                {% include parameter.html name='CD-ROM Seek Speedup' value='None' %}
            </dl>
        </td>
    </tr>
    <tr>
        <th>System / Rewinding and Runahead</th>
        <td>
            <dl>
                {% include parameter.html name='Enable Rewinding' value='no' %}
                {% include parameter.html name='Save Frequency' value='10.0s' %}
                {% include parameter.html name='Save Count' value='10 slots' %}
                {% include parameter.html name='Runahead' value='Disabled' %}
            </dl>
        </td>
    </tr>
    <tr>
        <th>Graphics / Rendering</th>
        <td>
            <dl>
                {% include parameter.html name='GPU Renderer' value='Hardware (Vulkan)' %}
                {% include parameter.html name='Resolution Scale' value='5x' %}
                {% include parameter.html name='Texture Filtering' value='Bilinear' %}
                {% include parameter.html name='True Color Rendering (24-bit)' value='yes' %}
                {% include parameter.html name='Widescreen Hack' value='yes' %}
                {% include parameter.html name='PGXP Geometry Correction' value='yes' %}
                {% include parameter.html name='Use Software Renderer For Readbacks' value='yes' %}
            </dl>
        </td>
    </tr>
    <tr>
        <th>Graphics / Game Display</th>
        <td>
            <dl>
                {% include parameter.html name='Crop Mode' value='Only Overscan Area' %}
                {% include parameter.html name='Aspect Ratio' value='16:9' %}
                {% include parameter.html name='Custom Aspect Ratio' value='1:3' %}
                {% include parameter.html name='Scaling' value='Bilinear (Sharp)' %}
                {% include parameter.html name='Downsampling' value='Disabled' %}
                {% include parameter.html name='Stretch To Fill' value='no' %}
            </dl>
        </td>
    </tr>
    <tr>
        <th>Graphics / Enhancements</th>
        <td>
            <dl>
                {% include parameter.html name='Scaled Dithering' value='yes' %}
                {% include parameter.html name='Disable Interlacing' value='yes' %}
                {% include parameter.html name='Force NTSC Timings' value='yes' %}
                {% include parameter.html name='Force 4:3 For 24-Bit Display' value='no' %}
                {% include parameter.html name='Chroma Smoothing For 24-Bit Display' value='yes' %}
                {% include parameter.html name='PGXP Culling Correction' value='yes' %}
                {% include parameter.html name='PGXP Texture Perspective Correction' value='yes' %}
                {% include parameter.html name='PGXP Color Perspective Correction' value='yes' %}
                {% include parameter.html name='PGXP Preserve Projection Precision' value='yes' %}
                {% include parameter.html name='PGXP Depth Buffer' value='yes' %}
            </dl>
        </td>
    </tr>
    <tr>
        <th>Graphics / Texture Replacement</th>
        <td>
            <dl>
                {% include parameter.html name='Enable VRAM Write Texture Replacement' value='yes' %}
                {% include parameter.html name='Use Old MDEC Routines' value='no' %}
                {% include parameter.html name='Preload Texture Replacements' value='no' %}
            </dl>
        </td>
    </tr>
    <tr>
        <th>Audio / Volume Control</th>
        <td>
            <dl>
                {% include parameter.html name='Volume' value='100%' %}
                {% include parameter.html name='Fast Forward Volume' value='100%' %}
                {% include parameter.html name='Mute All Sound' value='no' %}
                {% include parameter.html name='Mute CD Audio' value='no' %}
            </dl>
        </td>
    </tr>
    <tr>
        <th>Audio / Configuration</th>
        <td>
            <dl>
                {% include parameter.html name='Audio Backend' value='AAudio' %}
                {% include parameter.html name='Stretch Mode' value='Time Stretching' %}
                {% include parameter.html name='Buffer Size' value='100ms' %}
                {% include parameter.html name='Output Latency' value='20ms' %}
            </dl>
        </td>
    </tr>
    <tr>
        <th>Post-Processing / Options</th>
        <td>
            <dl>
                {% include parameter.html name='Enable Post Processing' value='yes' %}
            </dl>
        </td>
    </tr>
    <tr>
        <th>Achievements / Global Settings</th>
        <td>
            <dl>
                {% include parameter.html name='Enable RetroAchievements' value='yes' %}
                {% include parameter.html name='Enable Hardcore Mode' value='no' %}
                {% include parameter.html name='Enable Encore Mode' value='no' %}
                {% include parameter.html name='Enable Spectator Mode' value='no' %}
                {% include parameter.html name='Show Achievement Notifications' value='yes' %}
                {% include parameter.html name='Show Leaderboard Notifications' value='yes' %}
                {% include parameter.html name='Enable Sound Effects' value='yes' %}
                {% include parameter.html name='Enable In-Game Overlays' value='yes' %}
            </dl>
        </td>
    </tr>
    <tr>
        <th>Achievements / Account</th>
        <td>
            <dl>
                {% include parameter.html name='User Name' value='[your retroachievements.org username]' %}
            </dl>
        </td>
    </tr>
    <tr>
        <th>Achievements / Advanced Settings</th>
        <td>
            <dl>
                {% include parameter.html name='Use First Disc From Playlist' value='yes' %}
                {% include parameter.html name='Test Unofficial Achievements' value='no' %}
            </dl>
        </td>
    </tr>
    <tr>
        <th>Game List</th>
        <td>
            <dl>
                {% include parameter.html name='Scanning subdirectories' value='[your Downloads/Roms/PSX directory]' %}
            </dl>
        </td>
    </tr>
    <tr>
        <th>Memory Cards / Settings</th>
        <td>
            <dl>
                {% include parameter.html name='Use Single Card For Sub-Images' value='yes' %}
            </dl>
        </td>
    </tr>
    <tr>
        <th>Memory Cards / Memory Card 1</th>
        <td>
            <dl>
                {% include parameter.html name='Memory Card Type' value='Separate Card Per Game (Game Title)' %}
                {% include parameter.html name='Shared Card Name' value='shared_card_1.mcd' %}
            </dl>
        </td>
    </tr>
    <tr>
        <th>Memory Cards / Memory Card 2</th>
        <td>
            <dl>
                {% include parameter.html name='Memory Card Type' value='No Memory Card' %}
                {% include parameter.html name='Shared Card Name' value='shared_card_2.mcd' %}
            </dl>
        </td>
    </tr>
    <tr>
        <th>BIOS</th>
        <td>
            <dl>
                {% include parameter.html name='Import BIOS' value='[your <a href="https://github.com/gingerbeardman/PSX/raw/refs/heads/master/PSXONPSP660.BIN" target="_blank">PSXONPSP660.BIN</a> file]' %}
            </dl>
        </td>
    </tr>
    <tr>
        <th>BIOS / Regions</th>
        <td>
            <dl>
                {% include parameter.html name='NTSC-J (Japan)' value='Auto-Detect' %}
                {% include parameter.html name='NTSC-U/C (US/Canada)' value='Auto-Detect' %}
                {% include parameter.html name='PAL (Europe, Australia)' value='Auto-Detect' %}
            </dl>
        </td>
    </tr>
    <tr>
        <th>Advanced / Global Settings</th>
        <td>
            <dl>
                {% include parameter.html name='Apply Compatibility Settings' value='yes' %}
                {% include parameter.html name='Disable All Enhancements' value='no' %}
            </dl>
        </td>
    </tr>
    <tr>
        <th>Advanced / Display Settings</th>
        <td>
            <dl>
                {% include parameter.html name='Video Sync' value='yes' %}
                {% include parameter.html name='Sync To Host Refresh Rate' value='yes' %}
                {% include parameter.html name='Optimal Frame Pacing' value='yes' %}
                {% include parameter.html name='Presented Frame Limit' value='60 FPS' %}
                {% include parameter.html name='Show VRAM' value='no' %}
            </dl>
        </td>
    </tr>
    <tr>
        <th>Advanced / CD-ROM Settings</th>
        <td>
            <dl>
                {% include parameter.html name='Async Readahead' value='8 Sectors' %}
                {% include parameter.html name='Region Check' value='no' %}
            </dl>
        </td>
    </tr>
    <tr>
        <th>Advanced / CPU Settings</th>
        <td>
            <dl>
                {% include parameter.html name='CPU Execution Mode' value='New Recompiler' %}
                {% include parameter.html name='CPU Recompiler ICache' value='yes' %}
                {% include parameter.html name='CPU Recompiler Block Linking' value='yes' %}
                {% include parameter.html name='CPU Recompiler Fast Memory Access' value='MMap' %}
            </dl>
        </td>
    </tr>
    <tr>
        <th>Advanced / GPU Settings</th>
        <td>
            <dl>
                {% include parameter.html name='Multisample Antialiasing' value='8x SSAA' %}
                {% include parameter.html name='Threaded GPU Rendering' value='yes' %}
                {% include parameter.html name='Threaded GPU Presentation' value='yes' %}
                {% include parameter.html name='PGXP Vertex Cache' value='yes' %}
                {% include parameter.html name='PGXP CPU Mode' value='no' %}
                {% include parameter.html name='Use Debug Host GPU Device' value='no' %}
                {% include parameter.html name='Disable Dual-Source Blending' value='no' %}
                {% include parameter.html name='Disable Texture Buffers' value='no' %}
                {% include parameter.html name='Disable Texture Copy To Self' value='no' %}
            </dl>
        </td>
    </tr>
    <tr>
        <th>Advanced / Logging Settings</th>
        <td>
            <dl>
                {% include parameter.html name='Logging Level' value='Information' %}
                {% include parameter.html name='Log To File' value='no' %}
                {% include parameter.html name='Log To Logcat' value='no' %}
                {% include parameter.html name='Enable TTY Output' value='no' %}
            </dl>
        </td>
    </tr>
</table>