<h2>Emulator global configuration</h2>
<table>
    <tr>
        <th>Game Select Screen</th>
        <td>
            <dl>
                {% include parameter.html name='Force Android TV mode' value='yes' %}
                {% include parameter.html name='Select Game Directory' value='[your Downloads/Roms/SATURN directory]' %}
                {% include parameter.html name='Install Location' value='SD card' %}
            </dl>
        </td>
    </tr>
    <tr>
        <th>General</th>
        <td>
            <dl>
                {% include parameter.html name='Bios' value='built-in bios' %}
                {% include parameter.html name='Cartridge' value='32 Mbit Dram' %}
                {% include parameter.html name='Extend Internal Memory to 8MByte' value='yes' %}
                {% include parameter.html name='Cpu Core' value='New Dynamic Recompiler' %}
                {% include parameter.html name='Use CPU affinity' value='no' %}
                {% include parameter.html name='Use SH2 cache' value='yes' %}
                {% include parameter.html name='Enable Auto State Save' value='yes' %}
            </dl>
        </td>
    </tr>
    <tr>
        <th>Graphics</th>
        <td>
            <dl>
                {% include parameter.html name='Video Core' value='Vulkan' %}
                {% include parameter.html name='FPS' value='yes' %}
                {% include parameter.html name='Frameskip' value='yes' %}
                {% include parameter.html name='Speed Limit' value='Normal' %}
                {% include parameter.html name='Lock Landscape Mode' value='yes' %}
                {% include parameter.html name='90 degree rotation' value='no' %}
                {% include parameter.html name='Filter' value='None' %}
                {% include parameter.html name='Polygon Generation Type' value='GPU Tessellation' %}
                {% include parameter.html name='Rendering Resolution' value='1080p' %}
                {% include parameter.html name='Aspect Ratio' value='Original' %}
                {% include parameter.html name='RBG Resolution' value='1080p' %}
                {% include parameter.html name='Use Compute Shader' value='yes' %}
                {% include parameter.html name='Hide Status bar and Navigation bar' value='no' %}
            </dl>
        </td>
    </tr>
    <tr>
        <th>Player1 Input Device</th>
        <td>
            <dl>
                {% include parameter.html name='Choose' value='Xbox Wireless Controller' %}
            </dl>
        </td>
    </tr>
    <tr>
        <th>Sound</th>
        <td>
            <dl>
                {% include parameter.html name='Audio output' value='yes' %}
                {% include parameter.html name='Sound Engine' value='Current' %}
                {% include parameter.html name='Sound time synchronization mode' value='CPU time' %}
                {% include parameter.html name='Scsp synchrinization count per a frame' value='4' %}
            </dl>
        </td>
    </tr>
</table>